<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        .heading{
            width: 100vh;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body class="heading">
    <h1>We are Bokachoda's</h1>
</body>
</html>